version: "3.9"
 
services:
  api:
    build:
      context: ./backend           # Root of your nodejs backend
      dockerfile: Dockerfile
    container_name: wtf_backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      mongo:
        condition: service_healthy
    restart: always
    networks:
      - todo-app-network
 
  client:
    build:
      context: ./dive-react-app     # Root of your frontend (React/Vue/Angular)
      dockerfile: Dockerfile
    container_name: wtf_frontend
    ports:
      - "8082:80"
    depends_on:
      api:
        condition: service_started
    restart: always
    networks:
      - todo-app-network
 
  mongo:
    image: mongo:6.0
    container_name: mongo-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db
    ports:
      - "27018:27017"
    restart: always
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - todo-app-network
 
volumes:
  mongo-data:
 
networks:
  todo-app-network:
    driver: bridge
